<!DOCTYPE html>
<html>
<head>
    <title>Estimator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Smart Estimator</h1>

    <form action="/estimate/" method="post" enctype="multipart/form-data">

        <input type="number" name="area" placeholder="Area (sq ft)">
        <input type="number" name="floors" placeholder="Floors">

        <input type="file" name="pdf" accept=".pdf">

        <h3>Material Prices (Optional)</h3>
        <input type="number" name="cement" placeholder="Cement price">
        <input type="number" name="steel" placeholder="Steel price">
        <input type="number" name="sand" placeholder="Sand price">
        <input type="number" name="aggregate" placeholder="Aggregate price">
        <input type="number" name="labour" placeholder="Labour rate">

        <h3>Constraints</h3>
        <input type="number" name="budget" placeholder="Budget">
        <input type="number" name="time_limit" placeholder="Time">

        <button type="submit">Calculate</button>

    </form>
</div>

</body>
</html>
